.home-page-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.portfolio-sidebar {
  display: block;
  position: sticky;
  top: 0;
  height: fit-content;
}

.homepage-widgets {
  display: grid; /* flex??? */
  gap: 20px; /* space between widgets */
  grid-template-columns: repeat(2, 1fr);/* repeat(auto-fit, minmax(300px, 1fr)); /* responsive columns*/
  flex: 1;
  margin: 16px;
}

.full-width {
  grid-column: 1 / -1; /* span all columns */
}

.welcome-msg {
  padding: 16px;
}
